#container {
  display: flex;
  justify-content: center;
}

#app {
}

#nftImage {
  width: 35rem;
  height: 35rem;
  border-radius: 10px;
  border: 2px solid black;
}

#artistImage {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.nftContainer {
  width: 50rem;
  height: 50rem;
  padding: 3rem;
  margin: 3rem;
  color: black;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  align-items: center;
  border-radius: 25px;
  justify-content: center;
}
